/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* -----------custom css-------------- */
* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.mapboxgl-popup-close-button {
  font-size: 25px;
}

/* ---card--- */

label {
  width: max-content;
  color: #1746a2;
  font-size: 14px;
  font-weight: 300;
  /* border-bottom: 0.5px solid #1746a2; */
  margin: 5px 0;
  font-weight: 500;
}
.card label {
  width: max-content;
  color: #1746a2;
  font-size: 14px;
  font-weight: 300;
  border-bottom: 0.5px solid #1746a2;
  margin: 5px 0;
  font-weight: 500;
}
.card {
  width: 300px;
  /* height: 400px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
}

.star {
  color: #ff3d47;
}
.MuiRating-root {
  border-bottom: none;
}
.desc {
  max-width: 250px;
  font-size: 16px;
  padding-bottom: 10px;
}
.date {
  padding-top: 5px;
}
.deleteBtn {
  position: absolute;
  right: 0;
  bottom: 0;
  border: 0;
  border-radius: 0 3px 0 0;
  cursor: pointer;
  margin: 0 5px 5px 0;
}

/* ---form--- */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(88, 87, 87);
}
input {
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(185, 184, 184);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  border: none;
  border-bottom: 1px solid gray;
}
.submitBtn {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  cursor: pointer;
  margin: 10px 0 5px 0;
}
#image {
  border: none;
}
/* -------landing page------- */
.home {
  position: relative;
}
.home img {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.5;
  filter: blur(2px);
}
.home .home_text {
  text-align: center;
  width: 80%;
  position: absolute;
  top: 5%;
  left: 10%;
  text-transform: capitalize;
  font-size: 64px;
  /* background-color: #f5eddc; */
  border: rgba(32, 120, 202, 0.341) solid 5px;
  margin-bottom: 0;
}
.home_text h1 {
  /* border: #c83c2d solid 5px; */
  margin: 50px 0;
}
.home_btn {
  /* border: #c83c2d solid 5px; */

  margin-bottom: 20px;
  border: 0;
  line-height: 2.5;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 2px;
  background-color: rgb(32, 120, 202);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.home_btn:hover {
  background-color: rgb(237, 108, 16);
}

.home_btn:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
